@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap");

:root {
  --green: green;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: .2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);

  --blue:#2980b9;
   --red:tomato;
   --orange:orange;
   --light-black:#333;
   --white:#fff;
   --bg-color:#eee;
   --dark-bg:rgba(0,0,0,.7);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --light-border:.1rem solid #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background: #eee;
}
/* section starts */
section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  padding: 3rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}
.heading span {
  background: var(--green);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  letter-spacing: 2px;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
/* section ends */
.btn {
  border: 0.2rem solid var(--black);
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: var(--black);
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: var(--green);
  color: #fff;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
}
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #0000EE;
  text-decoration: none;
}
.header .logo i {
  color: var(--green);
  margin-right: 5px;
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
  text-decoration: none;
}
.header .admin-panel a{
    font-size: 2rem;
    margin-right: -5rem;
    color: var(--black);
    text-decoration: none;
}
.header .admin-panel a:hover{
    color: var(--green);
    font-size: 2.3rem;
}
.header .navbar a:hover {
  color: var(--green);
  font-size: 2rem;
}
.header .icons div {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
  cursor: pointer;
}
#menu-btn {
  display: none;
}

.header .icons div:hover {
  color: #fff;
  background: var(--green);
}

/* search start here  */
.header .search-form {
  /* border: 1px solid; */
  position: absolute;
  top: 110%;
  right: -110%;
  width: 50rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: all 0.2s linear;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  background-color: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
  padding: 0 1.5rem;
}

.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-form label:hover {
  color: var(--green);
}
.header .search-form.active {
  right: 2rem;
}

/* search ends here  */

/* cart starts here  */


 .icons .fa span {
  position: absolute;
  top: 0;
  color: #130f40;
}

/* cart starts here  */


.container{
  max-width: 1320px;
  margin:0 auto;
  /* padding-bottom: 5rem; */
}
.heading{
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  color:var(--black);
  margin-bottom: 2rem;
}
.btnMe,
.option-btn,
.delete-btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: var(--blue);
   color:var(--white);
   font-size: 1.7rem;
   padding:1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}
.table-bottom .option-btn{
  padding:1.2rem 4rem;
}
.btnMe:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: var(--light-black);
}
.option-btn i,
.delete-btn i{
   padding-right: .5rem;
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   margin-top: 0;
   background-color: var(--red);
}
.shopping-cart table{
  text-align: center;
  width: 100%;
}

.container .shopping-cart{
  margin-top: 5rem;
}

.shopping-cart table thead th{
  padding:1.5rem;
  font-size: 1.7rem;
  color:var(--white);
  background-color: var(--light-black);
}

.shopping-cart table tr td{
  border-bottom: var(--light-border);
  padding:1.5rem;
  font-size: 1.8rem;
  color:var(--light-black);
}

.shopping-cart table input[type="number"]{
  border: var(--border);
  padding:1rem 2rem;
  font-size: 2rem;
  color:var(--light-black);
  width: 10rem;
}

.shopping-cart table input[type="submit"]{
  padding:.5rem 1.5rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: .5rem;
  background-color: var(--orange);
  color:var(--white);
}

.shopping-cart table input[type="submit"]:hover{
  background-color: var(--light-black);
}

.shopping-cart table .table-bottom{
  background-color: var(--white);
}

.shopping-cart .checkout-btn{
  text-align: center;
  margin-top: 1rem;
}

.shopping-cart .checkout-btn a{
  display: inline-block;
  width: auto;
}

.shopping-cart .checkout-btn a.disabled{
  pointer-events: none;
  opacity: .5;
  user-select: none;
  background-color: var(--red);
}
/* cart ends here  */

/* signup/login form start here  */

.header .form {
  position: absolute;
  right: -110%;
  top: 110%;
  width: 35rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
  transition: all 0.3s ease;
}
.login-form.active,
.register-form.active {
  right: 2rem;
}
.header .form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}
.login-form h3 {
  margin: 3rem 0;
}
.header .form .box {
  width: 100%;
  margin: 0.7rem 0;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}
.header .form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: var(--light-color);
}
.header .form p a {
  color: var(--green);
  text-decoration: underline;
}
.form .icons {
  position: absolute;
  right: 30px;
  color: var(--black);
  line-height: 60px;
  font-size: 2rem;
  cursor: pointer;
}
.icons:hover {
  color: var(--green);
}

/* section starts 1 */

.home {
    background: url(./fypimg/banner-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    padding-top: 18rem;
    padding-bottom: 10rem;
  }
  .home .content {
    text-align: center;
    width: 60rem;
  }
  .home .content h3 {
    color: var(--black);
    font-size: 3rem;
  }
  .home .content h3 span {
    color: var(--green);
  }
  .home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
  }
  
  /* section ends 1 */
  
  /* Our features section starts here */
  
  .features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  .features .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
  }
  .features .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
  }
  .features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
  }
  .features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
  }
  .features .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
  }
  
  /* Our features section ends here */

  /* Our products section starts here */

.products .product-slider {
    /* border: 1px solid; */
    padding: 1rem;
  }


  .products .product-slider:first-child {
    margin-bottom: 2rem;
  }
  .products .product-slider .box {
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
  }
  .products .product-slider .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
  }
  .products .product-slider .box .fa-eye{
    position: absolute;
    top:1.5rem;
    height: 4rem;
    width: 4rem;
    line-height: 3.5rem;
    font-size: 2rem;
    background-color: var(--white);
    border:.2rem solid #bebcbc;
  
    border-radius: .5rem;
    text-align: center;
    color:#5c5656;
    /* color: var(--light-black); */
    cursor: pointer;
    transition: .2s linear;
  }
  .products .product-slider .box .fa-eye{
    left: 2rem;
    top: -6rem;
  }
  .products .product-slider .box .fa-eye:hover{
    background:var(--green);
    color: var(--white);
  }
  .products .product-slider .box:hover .fa-eye{
    top: 2rem;
  }
  .products .product-slider .box img {
    height: 20rem;
  }
  .products .product-slider .box h1 {
    font-size: 2.5rem;
    color: var(--black);
  }
  .products .product-slider .box .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: 0.5rem 0;
  }
  .products .product-slider .box .stars i {
    font-size: 1.7rem;
    color: orange;
    padding: 0.5rem 0;
  }
  .qty{
    font-size: 1.5rem;
    border:var(--border);
    padding: 0.8rem 0.4rem;
    /* background: #18593f; */
  }
  
  /* Our products section ends here */

  /* Quick View  */
  .quick-view h1{
    margin-top: 5rem;
  }
  .quick-view form{
    padding:2rem;
    border-radius: .5rem;
    border:var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    /* margin-top: 1rem; */
 }
 
 .quick-view form .row{
    display: flex;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;
 }
 
 .quick-view form .row .image-container{
    margin-bottom: 2rem;
    flex:1 1 40rem;
 }
 
 .quick-view form .row .image-container .main-image img{
    height: 30rem;
    width: 100%;
    outline-offset: -1rem;
    outline: var(--outline);
    object-fit: contain;
 }
 
 .quick-view form .row .image-container .sub-image{
    display: flex;
    gap:1.5rem;
    justify-content: center;
    margin-top: 2rem;
 }
 
 .quick-view form .row .image-container .sub-image img{
    height: 7rem;
    width: 10rem;
    object-fit: contain;
    padding:.5rem;
    border:var(--border);
    cursor: pointer;
    transition: .2s linear;
 }
 
 .quick-view form .flex .image-container .sub-image img:hover{
    transform: scale(1.1);
 }
 
 .quick-view form img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin-bottom: 2rem;
 }
 
 .quick-view form .row .content{
    flex:1 1 40rem;
 }
 
 .quick-view form .row .content .name{
    font-size: 2rem;
    color:var(--black);
 }
 
 .quick-view form .row .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    margin:1rem 0;
 }
 
 .quick-view form .row .flex .qty{
    width: 7rem;
    padding:1rem;
    border:var(--border);
    font-size: 1.8rem;
    color:var(--black);
    border-radius: .5rem;
 }
 
 .quick-view form .row .flex .price{
    font-size: 2rem;
    color:var(--red);
 }
 
 .quick-view form .row .content .details{
    font-size: 1.6rem;
    color:var(--light-color);
    line-height: 2;
 }
  /* Quick View  */



  
/* Our products category starts here */
.categories .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.categories .box-container .box {
  padding: 3rem 0;
  background: #fff;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  outline: var(--light-color);
  outline-offset: -1rem;
}
.categories .box-container .box:hover {
  box-shadow: 1px 1px 10px 4px var(--green);
}
.categories .box-container .box img {
  margin: 1rem 0;
  height: 15rem;
}
.categories .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  line-height: 1.8;
}
.categories .box-container .box p {
  font-size: 1.7rem;
  color: var(--black);
  line-height: 1.8;
  padding: 1rem 0;
}

/* Our products category ends here */

/* Our customer's Review starts here  */

.review .review-slider {
  padding: 1rem;
}
.review .review-slider .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  transition: 0.2s linear;
}
.review .review-slider .box:hover {
  box-shadow: 1px 1px 10px 4px var(--green);
}
.review .review-slider .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
.review .review-slider .box p {
  padding: 1rem 0;
  line-height: 1.8;
  color: var(--light-color);
  font-size: 1.5rem;
}
.review .review-slider .box h3 {
  padding-bottom: 0.5rem;
  color: var(--black);
  font-size: 2rem;
}
.review .review-slider .box .stars i {
  color: orange;
  font-size: 1.7rem;
}

/*  Our customer's Review ends here  */



/*  Our Blog starts here  */

.blogs .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box{
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: #fff;
}
.blogs .box-container .box img{
  height: 25rem;
  width: 100%;
  object-fit: cover;
}
.blogs .box-container .box .content{
  padding: 2rem;
}
.blogs .box-container .box .content .icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: var(--border);
}
.blogs .box-container .box .content .icons a{
  color: var(--light-color);
  font-size: 1.5rem;
  text-decoration: none;

}
.blogs .box-container .box .content .icons a i{
  color: var(--green);
  padding-right: .5rem;
}
.blogs .box-container .box .content .icons a:hover{
  color: var(--black);
}
.blogs .box-container .box .content h3{
line-height: 1.8;
color: var(--black);
font-size: 1.5rem;
padding: .5rem 0;
}
.blogs .box-container .box .content p{
line-height: 1.8;
color: var(--light-color);
font-size: 1.5rem;
padding: .5rem 0;
}

/*  Our Blog ends here  */


/* Our footer section start here */

.footer{
  background: #fff;
}
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3{
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box .links{
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}
.footer .box-container .box .links i{
  color: var(--green);
  padding-right: .5rem;
  transition: all .3s ease-in-out;
}
.footer .box-container .box .links:hover i {
  padding-right: 1.8rem;
}
.footer .box-container .box p{
  line-height: 1.8;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box .shareIt a i{
  
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: .5rem;
  font-size: 2rem;
  color: var(--black);
  margin-left: .2rem;
  background: #eee;
  text-align: center;
}
.footer .box-container .box .shareIt a i:hover{
  background: var(--green);
  color: #fff;
}
.footer .box-container .contact-info a{
  text-decoration: none;
}
.footer .box-container .quick-links a{
  text-decoration: none;
}
.footer .box-container .box .email{
  width: 100%;
  margin: .7rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}
.footer .box-container .box .payment-img{
  margin-top: 2rem;
  height: 3rem;
}
.footer .credit{
   text-align: center;
   margin-top: 2rem;
   padding: 1rem;
   padding-top: 2.5rem;
   font-size: 2rem;
   color: var(--black);
   border-top: var(--border);
}
.footer .credit span{
  color: var(--green);
}
/* Our footer section ends here */




/* cart container  */
form .price-in{
  color: red;
  position: absolute;
}

.cart-bg{
  background: #eee;
}

.cart-cntn{
  margin-top: 8rem;
  text-align: center;
}
table thead{
  font-size: 1.6rem;
  color: var(--black);
}
 tr td{
  font-size: 2rem;
  color: var(--black);
  
}
tr td button{
  border: 0.2rem solid var(--black);
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: var(--black);
  cursor: pointer;
  background: none;
}
tr td button:hover {
  background: var(--green);
  color: #fff;
}
.viewTotal{
  display: flex;
  padding: 2rem 9%;
  justify-content: space-between;
  color: var(--black);
  font-size: 2rem;
  align-items: center;
}
.viewTotal a{
  text-decoration: none;
  border: 0.2rem solid var(--black);
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: var(--black);
  cursor: pointer;
  background: none;
}
.viewTotal a:hover {
  background: var(--green);
  color: #fff;
}
.viewTotal .grandTotal{
  text-align: center;
  display: flex;
}
.viewTotal .grandTotal h2{
  margin-right: 2rem;
}



/* cart container  */


/* display order */
.checkout-form{
  margin-top: 7rem;
}

.checkout-form form{
  padding:2rem;
  border-radius: .5rem;
  background-color: var(--bg-color);
}

.checkout-form form .flex{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.checkout-form form .flex .inputBox{
  flex:1 1 40rem;
}

.checkout-form form .flex .inputBox span{
  font-size: 2rem;
  color:var(--black);
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select{
  width: 100%;
  background-color: var(--white);
  font-size: 1.7rem;
  color:var(--black);
  border-radius: .5rem;
  margin:1rem 0;
  padding:1.2rem 1.4rem;
  text-transform: none;
  border:var(--border);
}

.display-order{
  max-width: 50rem;
  background-color: var(--white);
  border-radius: .5rem;
  text-align: center;
  padding:1.5rem;
  margin:0 auto;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
  border:var(--border);
}

.display-order span{
  display: inline-block;
  border-radius: .5rem;
  background-color: var(--bg-color);
  padding:.5rem 1.5rem;
  font-size: 2rem;
  color:var(--black);
  margin:.5rem;
}

.display-order span.grand-total{
  width: 100%;
  background-color: var(--red);
  color:var(--white);
  padding:1rem;
  margin-top: 1rem;
}


/* display order */

/* order message container  */

.order-message-container{
  position: fixed;
  top:0; left:0;
  height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden; 
  /* overflow: auto; */
  padding:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  background-color: var(--dark-bg);
  width: 100%;
}

.order-message-container::-webkit-scrollbar{
  width: 1rem;
}

.order-message-container::-webkit-scrollbar-track{
  background-color: var(--dark-bg);
}

.order-message-container::-webkit-scrollbar-thumb{
  background-color: var(--blue);
}

.order-message-container .message-container{
  width: 50rem;
  background-color: var(--white);
  border-radius: .5rem;
  padding:2rem;
  text-align: center;
}

.order-message-container .message-container h3{
  font-size: 2.5rem;
  color:var(--black);
}

.order-message-container .message-container .order-detail{
  background-color: var(--bg-color);
  border-radius: .5rem;
  padding:1rem;
  margin:1rem 0;
  
}

.order-message-container .message-container .order-detail span{
  background-color: var(--white);
  border-radius: .5rem;
  color:var(--black);
  font-size: 2rem;
  display: inline-block;
  padding:1rem 1.5rem;
  margin:1rem;
}

.order-message-container .message-container .order-detail span.total{
  display: block;
  background: var(--red);
  color:var(--white);
}

.order-message-container .message-container .customer-details{
  margin:1.5rem 0;
}

.order-message-container .message-container .customer-details p{
  padding:1rem 0;
  font-size: 2rem;
  color:var(--black);
}

.order-message-container .message-container .customer-details p span{
  color:var(--blue);
  padding:0 .5rem;
  text-transform: none;
}


/* order message container  */




/* Responsive Statrt here  */
@media (max-width:1300px){

  .shopping-cart{
     overflow-x: scroll;
  }

  .shopping-cart table{
     width: 120rem;
  }

  .shopping-cart .heading{
     text-align: left;
  }

  .shopping-cart .checkout-btn{
     text-align: left;
  }

}



@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .search-form {
    max-width: 90%;
  }
  .header .cart-container {
    max-width: 90%;
  }
  .cart-container .checkout{
    max-width: 90%;
  }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: #fff;
    transition: all 0.3s ease;
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
    margin: 2rem 2.5rem;
  }

  .header .navbar.active {
    right: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 2.5rem;
  }
  .footer{
    text-align: center;
  }
}

/* Responsive Ends here  */
